<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Flot Examples: Basic Usage</title>
	<link href="assets/css/examples.css" rel="stylesheet" type="text/css">
	<script language="javascript" type="text/javascript" src="../assets/js/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="../assets/js/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="../assets/js/jquery.flot.time.js"></script>
	<script type="text/javascript">

	$(function() {

		var arenas = [[1167692400000, 0.20], [1196982000000, 0.31], [1205967600000, 0.27], [1220911200000, 0.24]];
		var pmed = [[1167692400000, 0.10], [1196982000000, 0.21], [1205967600000, 0.27], [1220911200000, 0.14]];
		
		var marshall = [];
		
		
		$.getJSON('stats/unread/marshall',
			{
				format: 'json',
				async: false
			}, function(mars) {
				//marshall = JSON.parse(data);
				console.log("1: " + mars);
				
			var data = [
				
				
				{ data: mars, label: "marshall" }
			];
			
			var options = {
			canvas: false,
			xaxes: [ { mode: "time" } ]
			}
			
			$.plot("#placeholder", data,options);

		
		});
		
		//console.log("2: " + marshall);
/*
		var data = [
			{ data: arenas, label: "arenas"},
			{ data: pmed, label: "pmed" },
			{ data: marshall, label: "marshall" }
		];
		
		// A null signifies separate line segments

		//var d3 = [[0, 12], [7, 12], null, [7, 2.5], [12, 2.5]];
		var options = {
			canvas: false,
			xaxes: [ { mode: "time" } ]
		}
		
		$.plot("#placeholder", data,options);

		// Add the Flot version string to the footer

		$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
		*/
	});

	</script>
</head>
<body>

	<div id="header">
		<h2>Non lues CDP (%)</h2>
	</div>

	<div id="content">

		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>

		<p>You don't have to do much to get an attractive plot.  Create a placeholder, make sure it has dimensions (so Flot knows at what size to draw the plot), then call the plot function with your data.</p>

		<p>The axes are automatically scaled.</p>

	</div>

	<div id="footer">
		Copyright &copy; 2007 - 2013 IOLA and Ole Laursen
	</div>

</body>
</html>
