<!DOCTYPE html>
<html ng-app>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Park. statistics</title>
	<link href="./assets/css/examples.css" rel="stylesheet" type="text/css">
	<link href="./assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<script language="javascript" type="text/javascript" src="./assets/js/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="./assets/js/angular.min.js"></script>
	<script language="javascript" type="text/javascript" src="./assets/js/parkstats.js"></script>
	<script language="javascript" type="text/javascript" src="./assets/js/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="./assets/js/jquery.flot.time.js"></script>
	
</head>
<body ng-controller="StatsCtrl">

	<div id="header">
		
		<h2>Statistiques LPRS</h2>
		
		<select ng-model="parkingSelected" ng-options="p.name for p in parkings" ng-change="changeParking()">
			<option style="display: none" value="">Choisir un parking</option>
		</select>
		
		<select ng-model="statSelected" ng-options="s.name for s in stats" ng-change="changePlotType()" ng-disabled="noParkSelected" ng-init="noParkSelected=true">
		  <option style="display: none" value="">Choisir les donnees</option>
		</select>
		
		<a class="btn btn-warning" style="float: right;" href="/logout"> Logout </a>
	</div>

	<div id="content">

		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>

		
	</div>


</body>
</html>
